<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <head>
        <title>search</title>
    <link href="../static/css/Layout.css" th:href="@{/css/layout.css}" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
     
         <h1 class="title">search</h1>
    <div class="Box">
      <div class="label">find</div>
    <br>
         <form  autocomplete="off"  action="#" th:action="@{/list}" th:object="${manager}" >
         <div></div>
         <input type="text"  placeholder="enter career" name="search" class="searcht"  id="search" th:value="${search}"/> 
         <input type="submit" class="button small" value="search"  />
       
         <div >
         <br>
         <div th:if="${not #lists.isEmpty(search)}">
        		<table  class="table">
        
        		<tr>
					<th class="row">UserID</th>
            		<th class="row">Name</th>
              	 	<th class="row">Title</th>
               		<th class="row">Account</th>
    			</tr>
		           <tr  th:each="manager : ${search}">
		            <td class=" row"><a th:text="${manager.userid}">00000000</a></td>
		            <td class=" row"><a th:text="${manager.fullname}">Griffin Tighe</a></td>
		          	<td class=" row"> <a th:text="${manager.ntaccount}">intern</a></td>
                	<td class=" row"> <a th:text="${manager.Title}">Deckers\Griffin.Tighe</a></td>
        		</tr>
        		
        		</table>
        		</div>
         </div>
        		
      	 </form> 
      	 <br>
      	 <table>
      	 <tr>
      	 <td> 
      	 <a th:href="@{/home}"><input type="submit"class="button " value="go home"></a>
      	 </td>
      	 <td>
      	 <form th:action="@{/logout}" method="post">
    
        
            <input type="submit" class="button red" value="Sign Out"/>
        </form>   
      	 </td>
      	 </tr>
      	 
      	 </table>
      	
       
    
    </div>
  
         
 
    </body>
</html>